/* _content/ElysiumBlazor/Components/Buttons/ElysiumIconButton.razor.rz.scp.css */
.elysium-icon-button[b-jz1v8gwl3r] {
    border-radius: var(--elysium-border-radius-large);
}
/* _content/ElysiumBlazor/Components/Buttons/ElysiumTextButton.razor.rz.scp.css */
/* _content/ElysiumBlazor/Components/Icons/ElysiumIcon.razor.rz.scp.css */
.elysium-icon[b-8mdw5njs58] {
    width: 24px;
    height: 24px;
}
/* _content/ElysiumBlazor/Components/Inputs/ElysiumTextInput.razor.rz.scp.css */
/* _content/ElysiumBlazor/Components/UI/ElysiumCard.razor.rz.scp.css */
.elysium-card[b-jolrfcxkyt] {
    border: 2px solid var(--elysium-color-primary);
    border-radius: var(--elysium-border-radius-large);
    padding: 10px;
    background-color: var(--elysium-color-secondary);
}

.elysium-card-header[b-jolrfcxkyt] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[b-jolrfcxkyt] .collapse-icon.collapsed {
    transform: rotate(90deg);
}

[b-jolrfcxkyt] .collapse-icon.expanded {
    transform: rotate(-90deg);
}
